{% macro register() %}
        <form action="" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label class="form-label" for="username">{{ _('Username') }}</label>
                    <input autofocus class="form-control" id="username" maxlength="64" minlength="1" name="username" type="text" autocomplete="off" pattern="^(?!.*niitii)[a-z0-9_.]*$" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">{{ _('Email') }}</label>
                    <input class="form-control" id="email" maxlength="320" minlength="1" name="email" type="email" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">{{ _('Password') }}</label>
<!--https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Regex_invalid_char_in_class                    -->
                    <input class="form-control" id="password" maxlength="32" minlength="10" name="password" type="password" autocomplete="new-password" pattern="^(?!.* )(?=.*[a-z])(?=.*[0-9])(?=.*[`~!@#$%^&*_=+;:'?,.]).{10,32}$" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password2">{{ _('Confirm Password') }}</label>
                    <input class="form-control" id="password2" maxlength="32" minlength="10" name="password2" type="password" autocomplete="new-password" required>
                </div>
                    <button class="btn btn-outline-primary btn-sm" type="submit" name="submit" value="register">{{ _('Register') }}</button>
        </form>
{% endmacro %}


{% macro login() %}
        <form action="" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input name="utc_offset" type="hidden" value="">
            <input name="language" type="hidden" value="">
                <div class="mb-3">
                    <label class="form-label" for="username">{{ _('Username') }}</label>
                    <input autofocus class="form-control" id="username" name="username" type="text" autocomplete="username" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">{{ _('Password') }}</label>
                    <input class="form-control" id="password" name="password" type="password" autocomplete="current-password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="mfa_token">{{ _('MFA Token') }}</label>
                    <input autofocus class="form-control" id="mfa_token" maxlength="6" minlength="6" name="mfa_token" type="text" autocomplete="off" pattern="\d{6,6}">
                </div>                
                <div class="form-check mb-3">
                    <label class="form-check-label" for="remember_me">{{ _('Remember Me') }}</label>
                    <input class="form-check-input" id="remember_me" name="remember_me" type="checkbox">
                </div>
                    <button class="btn btn-outline-primary btn-sm" type="submit" name="submit" value="login">{{ _('Sign In') }}</button>
        </form>
{% endmacro %}


{% macro request_admin_token() %}
        <form action="" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label class="form-label" for="username">{{ _('Username') }}</label>
                    <input autofocus class="form-control" id="username" maxlength="64" minlength="1" name="username" type="text" required>
                </div>                
                <button class="btn btn-outline-primary btn-sm d-block" type="submit" name="submit" value="request_admin_token">{{ _('Request Admin Token') }}</button>
                </div>
        </form>
{% endmacro %}


{% macro request_password_reset() %}
        <form action="" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label class="form-label" for="email">{{ _('Email') }}</label>
                    <input autofocus class="form-control" id="email" maxlength="320" minlength="1" name="email" type="email" autocomplete="email" required>
                </div>
                <button class="btn btn-outline-primary btn-sm" type="submit" name="submit" value="reset_password_request">{{ _('Request Password Reset') }}</button>
        </form>
{% endmacro %}


{% macro reset_password() %}
        <form action="" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label class="form-label" for="password">{{ _('Password') }}</label>
                    <input autofocus class="form-control" id="password" maxlength="32" minlength="10" name="password" type="password" autocomplete="new-password" pattern="^(?!.* )(?=.*[a-z])(?=.*[0-9])(?=.*[`~!@#$%^&*_=+;:'?,.]).{10,32}$" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password2">{{ _('Confirm Password') }}</label>
                    <input class="form-control" id="password2" maxlength="32" minlength="10" name="password2" type="password" autocomplete="new-password" required>
                </div>
                    <button class="btn btn-outline-primary btn-sm" type="submit" name="submit" value="reset_password">{{ _('Update Password') }}</button>
        </form>
{% endmacro %}        


{% macro check_token(action="") %}
        <form action="{{ action }}" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label class="form-label" for="mfa_token">{{ _('Enter token') }}</label>
                    <input autofocus class="form-control w-50" id="mfa_token" maxlength="6" minlength="6" name="mfa_token" type="text" autocomplete="off" pattern="\d{6,6}" required>
                </div>
                    <button class="btn btn-outline-primary btn-md" type="submit" name="submit" value="check_token">{{ _('Check') }}</button>
        </form>
{% endmacro %}


{% macro change_password() %}
        <form action="" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <label class="form-label" for="old_password">{{ _('Current Password') }}</label>
                    <input autofocus class="form-control" id="old_password" maxlength="32" minlength="8" name="old_password" type="password" autocomplete="current-password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">{{ _('New Password') }}</label>
                    <input class="form-control" id="password" maxlength="32" minlength="8" name="password" type="password" autocomplete="new-password" pattern="^(?!.* )(?=.*[a-z])(?=.*[0-9])(?=.*[`~!@#$%^&*_=+;:'?,.]).{10,32}$" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password2">{{ _('Confirm Password') }}</label>
                    <input class="form-control" id="password2" maxlength="32" minlength="8" name="password2" type="password"  autocomplete="new-password" required>
                </div>
                    <button class="btn btn-outline-primary btn-sm" type="submit" name="submit" value="change_password">{{ _('Update Password') }}</button>
        </form>
{% endmacro %}


{% macro change_email() %}
        <form action="" method="post">
            <input  name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="mt-3 mb-3">
                    <label class="form-label" for="email">{{ _('New Email') }}</label>
                    <input autofocus class="form-control" id="email" maxlength="320" minlength="1" name="email" type="email" autocomplete="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">{{ _('Password') }}</label>
                    <input class="form-control" id="password" maxlength="32" minlength="8" name="password" type="password" autocomplete="current-password" required>
                </div>
                    <button class="btn btn-outline-primary btn-sm" type="submit" name="submit" value="change_email">{{ _('Update Email Address') }}</button>
        </form>                    
{% endmacro %}
