{% for comment in comments %}
    {% set user = comment.author %}
<div id="comment{{comment.id}}" class="card border-0 {% if not comment.direct %} comment {% endif %}">
    <div class="card-body p-0 mb-3">
        <div>
            {% if not comment.ghost %}
            {{ macros.avatar(user) }}
            <span>{{ macros.user_link(user=user) }}</span>
            {% endif %}
            {% if comment.pinned %}
            <span>&#x1F4CC;</span>
            {% endif %}
            {% if comment.direct %}
            <span>&#x1F576;</span>
            {% endif %}
            <span id="c{{comment.id}}">{{loop.index}} - 
            <time datetime="{{comment.timestamp}}">{{ moment(comment.timestamp).format('D/MM/YY H:mm:ss') }}</time>
            </span>

            <div class="comment-body">
                {% if comment.disabled %}
                    <p class="small fst-italic">{{ _('Disabled') }}</p>
                {% else %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
            </div>
            {% if current_user.is_authenticated and current_user.can("COMMENT") and not post.disable_comments %}
                {% set action %}{{ url_for('main.vote_comment', id=post.id) }}{% endset %}
                {{ macros.vote(action=action, value="vote_comment", input_id=comment.id, count=comment.votes) }}

                <button class="btn btn-sm dropdown-toggle ps-1 py-0" type="button" data-bs-toggle="collapse" data-bs-target="#reply_comment_{{ comment.id }}" aria-expanded="False" aria-controls="reply_comment_{{ comment.id }}">
                {{_('Reply')}}
                </button>
                <div class="collapse" id="reply_comment_{{ comment.id }}">
                {% set action %}{{ url_for('main.reply_comment', id=post.id) }}{% endset %}
                {{ macros.comment(action=action, author=user, comment_id=comment.id, value="reply_comment") }}
                </div>
            {% else %}
                <span class="btn btn-outline-dark btn-sm border border-dark-subtle disabled px-1 py-0">
                    &#8679; {{ comment.votes }}
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
