{% for comment in comments %}
<div id="comment{{comment.id}}" class="card border-0">
    <div class="card-body pt-2 p-0">
        <div>
            <img class="rounded-circle avatar" {% if post.author.picture %} src="{{ post.author.picture }}" {% else %} src="https://www.gravatar.com/avatar/?d=mp&s=200" {% endif %}alt="photo">

            {% set user_link %}
<!--                 d-inline-block remove trailing space from <a> tag -->            
                <a class="text-decoration-none d-inline-block fs-6 text-body" href="{{ url_for('main.user', username=comment.author.username) }}" target="_blank" rel="noopener noreferrer">
                    {{ comment.author.username }}
                    {% if comment.author.verified %}
                    &#x2713;
                    {% elif comment.author.confirmed %}
                    &#xB7;
                    {% endif %}
                </a>
            {% endset %}

            <span>{{ _('%(username)s', username=user_link) }}</span>
            {% if comment.author.label %}
            <span class="badge rounded-pill text-bg-secondary py-0 px-1">{{ comment.author.label }}</span>
            {% endif %}
            <span id="c{{comment.id}}">{{comment.id}} - {{ _('%(when)s', when=moment(comment.timestamp).format('D/MM/YY H:mm:ss')) }}</span>
            {% if comment.pinned %}
            <span>&#x1F4CC;</span>
            {% endif %}

            <div class="pt-2 m-0 comment-body">
                {% if comment.disabled %}
                    <p class="small fst-italic">{{ _('Disabled') }}</p>
                {% else %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
            </div>
            {% if current_user.is_authenticated and current_user.can("COMMENT") and not post.disable_comments %}
                {% set action %}{{ url_for('main.vote_comment', id=post.id) }}{% endset %}
                {{ macros.vote(action=action, value="vote_comment", input_id=comment.id, count=comment.votes) }}

                <button class="btn btn-sm dropdown-toggle ps-1 py-0" type="button" data-bs-toggle="collapse" data-bs-target="#reply_comment_{{ comment.id }}" aria-expanded="False" aria-controls="reply_comment_{{ comment.id }}">
                {{_('Reply')}}
                </button>
                <div class="collapse" id="reply_comment_{{ comment.id }}">
                {% set action %}{{ url_for('main.reply_comment', id=post.id) }}{% endset %}
                {{ macros.comment(action=action, author=comment.author, comment_id=comment.id, value="reply_comment") }}
                </div>
            {% else %}
                <span class="btn btn-outline-dark btn-sm border border-dark-subtle disabled px-1 py-0">
                    &#8679; {{ comment.votes }}
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
