{% extends "base.html" %}


{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="my-5">{{ _('niitii: community of integrity') }}</h2>
        <h3 class="mt-2 mb-4">{{ _('Dedication') }}</h3>
        <h5 class="my-4">{{ _('Kotto Bass: spirit of joy') }}</h5>
        <h5 class="my-4">{{ _('Miriam Makeba: spirit of nurture') }}</h5>
        <h5 class="my-4">{{ _('Patrice Lumumba: spirit of unity') }}</h5>
        <h5 class="my-4">{{ _('Thomas Sankara: spirit of integrity') }}</h5>
        <h6 class="my-4 niitii-green">{{ _('niitii green RGB(37, 137, 37) is in honor of Sankara') }}</h6>
        <h6 class="my-4">{{ _("niitii's anthem is") }} <cite>J'aime toute le monde</cite> {{ _('by Kotto Bass') }}</h6>
        <blockquote class="my-4">{{ _('If today is like yesterday and yesterday was like day before, how will tomorrow be different?') }}</blockquote>
    </div>
{% endblock %}
