{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="m-0 my-4 fs-2">{{ _('niitii: community of integrity') }}</p>
        <p class="m-0 mt-2 mb-4 h2 text-decoration-underline">{{ _('Dedication') }}</p>
        <p class="m-0 my-2 fs-6">{{ _('Kotto Bass: spirit of joy') }}</p>
        <p class="m-0 my-3 fs-6">{{ _('Miriam Makeba: spirit of nurture') }}</p>
        <p class="m-0 my-3 fs-6">{{ _('Patrice Lumumba: spirit of unity') }}</p>
        <p class="m-0 my-3 fs-6">{{ _('Thomas Sankara: spirit of integrity') }}</p>
        <p class="m-0 my-3 fs-6">{{ _("niitii's anthem is") }} <cite>J'aime toute le monde</cite> {{ _('by Kotto Bass') }}</p>
        <h6 class="my-4 niitii-green">{{ _('niitii green RGB(37, 137, 37) is in honor of Sankara') }}</h6>
        <blockquote class="my-4 text-center"><p>{{ _('How it is today is how it was yesterday, so the wisdom of yesterday stands today.') }}</p></blockquote>
    </div>
{% endblock %}
