{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    <div class="row justify-content-center align-items-center mt-2">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 col-xxl-8">
    <h3>{{ _('Edit Account') }}</h3>

    <div class="my-2">
        <img class="rounded-circle avatar-lg" {% if user.photo %} src="{{ user.photo }}" {% else %} src="{{ url_for('static', filename='images/avatar.png') }}" {% endif %} alt="photo">
        <a class="fs-3 text-decoration-none ms-2" href="{{ url_for('main.user', username=user.username) }}">
            {{ user.username }}
            {% if user.verified %}
            &#x2713;
            {% elif user.confirmed %}
            &#xB7;
            {% endif %}
            {% if user.banner_flag %}
            <span>{{ user.banner_flag }}</span>
            {% endif %}
            {% if user.label %}
            <span class="badge rounded-pill text-bg-secondary py-0 px-1">{{ user.label }}</span>
            {% endif %}
        </a>
        <p class="m-0">{{ _('Joined') }}: {{ moment(user.joined).format('D MMM YY') }} - {{ user.permission }}</p>
        <p class="m-0">{{ _('Last seen') }}: {{ moment(user.last_seen).format('D MMM YY H:mm') }}</p>
    </div>


    {% if current_user.can("ADMIN") %}
<!--Administrator Permission-->
        <div class="mb-4">
        {% set action %}{{ url_for('main.edit_account_admin', username=user.username) }}{% endset %}
        {{ macros.edit_account_admin(action=action, user=user, admin=True) }}
        </div>
        {% if user.mfa_enabled %}
            {% if user.admin_token %}
                {% set label %}Reset Token - {{ user.admin_token }}{% endset %}
            {% else %}
                {% set label %}Set admin token{% endset %}
            {% endif %}
            {% set action %}{{ url_for('auth.set_admin_token', username=user.username) }}{% endset %}
            {{ macros.empty(action=action, value="set_admin_token", label=label)}}
        {% endif %}        
        <div class="mt-2">
            <span class="d-block fs-3">{{ _('Delete Account') }}</span>
            {% set action %}{{ url_for('main.del_account', username=user.username) }}{% endset %}
            {{ macros.del_account_modal(action=action, admin=True) }}
            {{ macros.del_btn() }}
        </div>
    {% elif current_user.can("MODERATE") %}
<!--Moderator Permission-->
        <div class="mb-4">            
        {% set action %}{{ url_for('main.edit_account_admin', username=user.username) }}{% endset %}
        {{ macros.edit_account_admin(action=action, user=user) }}
        </div>
    {% endif %}

    {% if user.editor %}
        <p class="m-0 mt-2">{{ user.editor }}</p>
    {% endif %}
    </div>
    </div>

    
    <script type="text/javascript">
    {% if current_user.can("ADMIN") %}
        const showBtn = document.querySelector("#showDialog");
        const delDialog = document.querySelector("#delDialog");
        const confirmBtn = delDialog.querySelector("#confirm");
        const closeBtn = delDialog.querySelector("#close");
            
// "Show the dialog" button opens the <dialog> modal
        showBtn.addEventListener("click", () => {
          delDialog.showModal();
        });

// "Cancel" button closes the dialog without submitting because of [formmethod="dialog"], triggering a close event.
        closeBtn.addEventListener("click", () => {
            delDialog.close();
        });

// Prevent the "confirm" button from the default behavior of submitting the form, and close the dialog with the `close()` method, which triggers the "close" event.
        confirmBtn.addEventListener("click", () => {
        });
    {% endif %}
    </script>   
{% endblock %}
