{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    {% for message in messages %}
    <div class="card-body py-0 mx-auto card-width" id="message{{message.id}}">
        <div>
            <div>
            {% set user_link %}
                <a class="text-decoration-none d-inline-block fs-6 text-body" href="{{ url_for('main.user', username=message.recipient.username) }}">
                    {{ message.recipient.username }}{% if message.recipient.verified %}&#x2713;{% elif message.recipient.confirmed %}&#xB7;{% endif %}
                </a>            
                {% if message.recipient.label %}<span class="badge rounded-pill text-bg-secondary py-0 px-1">{{ message.recipient.label }}</span>{% endif %}
                <span>{{message.id}} - {{ _('%(when)s', when=moment(message.timestamp).format('D/MM/YY H:mm:ss')) }}</span>
            {% endset %}
            <span>{{ _('%(username)s', username=user_link) }}</span>
            <div class="my-1">
                {{ message._body }} {%if message.photo %}&#x1F4F7;{% endif %}
            </div>
            {% if current_user.is_authenticated %}
                <div>
                    {{ macros.empty(action=action, value="delete", input_id=message.id) }}
                </div>
            {% endif %}
            </div>
        </div>
    <hr class="my-2">    
    </div>
    {% endfor %}
    
    {{ macros.pagination(pagination, 'main.edit_messages', username=current_user.username) }}
    

    <script type="text/javascript">
        function deleteContent(form, submitter) {
            let postForm = new FormData(form);
            // FormData only send the <input>. <button> is appended to the form            
            postForm.append('submit', submitter.value);
            postForm.append('input_id', form.input_id.value);

            let input_id = form.input_id.value;
            let url = {{ url_for("main.edit_messages")|tojson }};

            fetch(url, {
                method: 'POST',         
                body: postForm,
            })
            .then((response) => response.text())
            .then((text) => {
                    document.getElementById(`message${input_id}`).remove();
            })
            .catch(console.error);
        }
        document.addEventListener('submit', (event) => {
            let form = event.target;        
            try {
                    event.preventDefault();
                    deleteContent(form, event.submitter);
            }
            catch (error) {
                console.error(error); 
            }
       });   
    </script>     
{% endblock %}
