{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    <div class="row justify-content-center align-items-center mt-3">
      <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6 col-xxl-6">
        <div class="card">
          <div class="card-header d-flex justify-content-center align-items-center p-2">
            {% set user_link %}
<!--                 d-inline-block remove trailing space from <a> tag -->
              <a class="text-decoration-none d-inline-block fs-6 text-body" href="{{ url_for('main.user', username=sender.username) }}">
                   {{ sender.username }}{% if sender.verified %}&#x2713;{% elif sender.confirmed %}&#xB7;{% endif %}
              </a>
                {% if sender.label %}<small class="badge rounded-pill text-bg-info text-body py-0 px-1">{{ sender.label }}</small>{% endif %}
            {% endset %}
            <img class="rounded-circle img-fluid me-1 avatar-md" {% if sender.picture %} src="{{ sender.picture }}" {% else %} src="{{ url_for('static', filename='images/avatar.png') }}" {% endif %} alt="photo">
              <span>{{ _('%(username)s', username=user_link) }}</span>
          </div>
          
          <div id="messages" class="card-body w-auto h-10 overflow-y-auto">
            {% for message in messages %}
                {% if message.sender == current_user %}
                    {% if message.photo %}
                    <div class="d-flex flex-row justify-content-end">
                      <img class="img-fluid object-fit-scale mb-2" src="{{ message.get_url() }}" alt="message photo">
                    </div>
                    {% endif %}
                    <div class="d-flex flex-row justify-content-end mb-3">
                        <div>
                          <p class="p-1 m-0 rounded-3 fs-5">{{ message._body }}</p>
                          <p class="me-1 rounded-3 text-body text-end message-time">{{ moment(message.timestamp).format('D MMM H:mm') }}</p>
                        </div>                
                    </div>
                {% else %}
                    {% if message.photo %}
                    <div class="d-flex flex-row justify-content-start">
                      <img class="img-fluid object-fit-scale mb-2" src="{{ message.get_url() }}" alt="message photo">
                    </div>
                    {% endif %}                
                    <div class="d-flex flex-row justify-content-start mb-3">
                      <div>                
                        <p class="p-1 m-0 rounded-3 fs-5">{{ message._body }}</p>
                        <p class="ms-1 rounded-3 text-body text-start message-time">{{ moment(message.timestamp).format('D MMM H:mm') }}</p>
                      </div>
                    </div>
                {% endif %}                
            {% endfor %}
         </div>            
                {{ macros.message() }}
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
        let messages = document.querySelector('#messages');
        messages.scrollTop = messages.scrollHeight;
        
        Array.from(document.querySelectorAll('img')).forEach((ele, index) => {
            ele.addEventListener('dblclick', function(e) {
               if(document.fullscreenElement){
                  document.exitFullscreen()
               } else {
                 ele.requestFullscreen();
               }
            });
        });
        
        function showMessage(form, submitter) {
            let url = {{ url_for('main.message', username=sender.username)|tojson }}
            let postForm = new FormData(form);            
            postForm.append('submit', submitter.value);
            postForm.append('photo', form.photo.files[0]);
            
            fetch(url, {
                method: 'POST',
                headers: { 
                'Accept': 'application/json; charset=utf-8',
                'Credentials': 'include',
                },            
                body: postForm,
            })
            .then((response) => response.json())
            .then((data) => {
                let timestamp = moment(data.timestamp).format('D MMM H:mm');
                img = `
                      <img class="img-fluid object-fit-scale mb-2" src="${data.photo}" alt="message photo">
                `;
                content = `
                        <div>
                          <p class="p-1 m-0 rounded-3 fs-5">${data.body}</p>
                          <p class="me-1 mb-3 rounded-3 text-body text-end message-time"><span class data-timestamp="${timestamp}" data-function="format" data-format="D MMM H:mm" data-refresh="0" style>${timestamp}</span></p>
                        </div>                
                `;
                if (data.photo) {
                    let imgDiv = document.createElement('div');
                    imgDiv.className = "d-flex flex-row justify-content-end";
                    imgDiv.innerHTML = img;
                    
                    let bodyDiv = document.createElement('div');
                    bodyDiv.className = "d-flex flex-row justify-content-end mb-3";
                    bodyDiv.innerHTML = content;
                    messages.append(imgDiv);
                    messages.append(bodyDiv);                    
                }
                else {
                    let bodyDiv = document.createElement('div');
                    bodyDiv.className = "d-flex flex-row justify-content-end mb-3";
                    bodyDiv.innerHTML = content;
                    messages.append(bodyDiv);
                }
            })
            .catch(console.error);
        }
        document.addEventListener('submit', (e) => {
            // Create DataTransfer to check files over 10MB
            let dt = new DataTransfer();
            let files = e.target.photo.files
            
            if (files.length > 0) {
                for (let i = 0; i < files.length; i++) {
                    if (files[i].size > (1024 * 1024 * 10)) {
                        continue; // Skip. Do not add to dt
                    }
                    // add files to dt object
                    dt.items.add(files[i]);
                }
            }
            // update event files before submitting
            e.target.photo.files = dt.files;
                    
            let form = e.target;
            e.preventDefault();
            showMessage(form, e.submitter);
            form.reset();
       }); 
    </script>    
{% endblock %}
