{% extends "base.html" %}
{% import "macros/_macros.html" as macros %}

{% block content %}
    <div class="row justify-content-center align-items-center mt-2">
    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-8 col-xxl-8">
        {% if current_user.is_authenticated %}
            <h3>{{_('New Post')}}</h3>
                {{ macros.new_post() }}
        {% endif %}
    </div>
    </div>


    <script type="text/javascript">
        // Alert user of files over 10MB
        document.getElementById('fileInput')?.addEventListener('change', (e) => {
            let files = Array.from(e.target.files);
            for (let i = 0; i < files.length; i++) {
                if (files[i].size > (1024 * 1024 * 10)) {
                    size = Math.floor(files[i].size / (1024 * 1024));
                    alert(`LIMIT 10MB \n${files[i].name} - ${size}MB`);
                }
            }
        });

        const linkDiv = document.querySelector('[data-linkPhotos]');
        let linkCount = 1;
// Events bubble up, meaning that once an event takes place on an element, that event is received also by the parents of that element. It provides performance because each individual event listener that we add will consume memory.
        linkDiv.addEventListener('click', (e) => {
            const eParentEle = e.target.parentElement;

            if (e.target.hasAttribute('data-addBtn')) {
                const linkPhotos = eParentEle.parentElement.parentElement;
                const clonedDiv = eParentEle.cloneNode(true);
                const addBtn = clonedDiv.children[1];
                const rmBtn = clonedDiv.children[2];
// Clears value from original input
                clonedDiv.children[0].value = '';

                rmBtn.hidden = false;
                addBtn.parentNode.removeChild(addBtn);

                if (linkCount < 5) {
                    eParentEle.parentElement.appendChild(clonedDiv);
                    linkCount++;
                }
            }
            else if (e.target.hasAttribute('data-rmBtn')) {
                e.target.parentElement.remove();
                if (linkCount > 1) {
                    linkCount--;
                }
            }
        });

        document.addEventListener('submit', (e) => {
            // Create DataTransfer to check files over 10MB
            let dt = new DataTransfer();
            let files = e.target.photo.files

            if (files.length > 0) {
                for (let i = 0; i < files.length; i++) {
                    if (files[i].size > (1024 * 1024 * 10)) {
                    // Skip large files
                        continue;
                    }
                    // add files to dt object
                    dt.items.add(files[i]);
                }
            }
            // update event files before submitting
            e.target.photo.files = dt.files;
       });
    </script>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
