{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    {% for comment in comments %}
        <div class="card-body py-0 mx-auto card-width" id="comment{{comment.id}}">
            <div>
                <a class="text-decoration-none" href="{{ url_for('main.user', username=comment.author.username) }}">
                    <img class="rounded-circle avatar" {% if comment.author.photo %} src="{{ comment.author.photo }}" {% else %} src="{{ url_for('static', filename='images/avatar.png') }}" {% endif %} alt="photo">
                </a>            
                {% set user_link %}
                    <a class="text-decoration-none d-inline-block fs-6 text-body" href="{{ url_for('main.user', username=comment.author.username) }}">
                        {{ comment.author.username }}{% if comment.author.verified %}&#x2713;{% elif comment.author.confirmed %}&#xB7;{% endif %}
                    </a>            
                    {% if comment.author.label %}<span class="badge rounded-pill text-bg-secondary py-0 px-1">{{ comment.author.label }}</span>{% endif %}
                    <span>{{comment.id}} - {{ _('%(when)s', when=moment(comment.timestamp).format('D/MM/YY H:mm:ss')) }}</span>
                    {% if comment.pinned %}<span>&#x1F4CC;</span>{% endif %}
                {% endset %}
                <span>{{ _('%(username)s', username=user_link) }}</span>
            </div>
            <div class="pt-2">
                <div id="comment_body{{comment.id}}">
                {% if comment.disabled %}
                    <p><i>{{ _('Disabled') }}</i></p>
                {% else %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
                </div>
                <span class="btn btn-outline-dark btn-sm border border-dark-subtle disabled px-1 py-0">
                    &#x21E7; {{ comment.votes_count() }}
                </span>                
                <p class="d-inline mx-1 small"><a class="text-decoration-none" href="{{ url_for('main.post', id=comment.post_id) }}">{{ _('View post') }}</a></p>
                {% if current_user.is_authenticated %}
                    {% if current_user == comment.author or current_user.can("MODERATE") %}
                    <div class="d-inline m-0">
                    {% set action %}{{ url_for('main.disable_comment', id=comment.id) }}{% endset %}
                    {% if comment.disabled %}
                        {{ macros.empty(action=action, value="enable", label="Enable", input_id=comment.id) }}
                    {% else %}
                        {{ macros.empty(action=action, btn="danger", value="disable", label="Disable", input_id=comment.id) }}
                    {% endif %}

                    {% set action %}{{ url_for('main.delete_comment', id=comment.id) }}{% endset %}
                    {{ macros.empty(action=action, value="delete", input_id=comment.id) }}
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <hr class="my-2">
        </div>
    {% endfor %}

<!-- babel transalation text to update after fetch()-->
            <span id="enable" hidden>{{ _('Enable') }}</span>
            <span id="disable" hidden>{{ _('Disable') }}</span>

    {{ macros.pagination(pagination, 'main.user_comments', username=user.username) }}


    <script type="text/javascript">
        function sendForm(target, submitter) {
            let postForm = new FormData(target);
// FormData only send the <input>. <button> is appended to the form
            postForm.append('submit', submitter.value);
            if (target.input_id) {
                postForm.append('input_id', target.input_id.value);
            }

            const SCRIPT_ROOT = {{ request.script_root|tojson }};
            const url = target.action;
            const enableText = document.getElementById('enable').innerHTML;
            const disableText = document.getElementById('disable').innerHTML;
            const commentId = input_id = target.input_id.value;

            fetch(url, {
                method: 'POST',
                body: postForm,
            })
            .then((response) => response.text())
            .then((text) => {
                if (submitter.value === 'delete') {
// remove comment from view
                    document.getElementById(`comment${commentId}`).remove();
                }
                else if (submitter.value === 'disable') {
// update button value for disable/enable
                    document.getElementById(`comment_body${commentId}`).innerHTML = `
                        <p><i>${document.getElementById('disable').innerHTML}</i></p>
                    `;
                    submitter.className = 'btn btn-outline-primary btn-sm px-1 py-0';
                    submitter.innerHTML = `${enableText}`;
                    submitter.value = 'enable';
                }
                else {
                    const parser = new DOMParser();
                    const resDoc = parser.parseFromString(text, "text/html");

                    content = resDoc.getElementById(`comment_body${commentId}`).innerHTML;
                    document.getElementById(`comment_body${commentId}`).innerHTML = content;

                    submitter.className = 'btn btn-outline-danger btn-sm px-1 py-0';
                    submitter.innerHTML = `${disableText}`;
                    submitter.value = 'disable';
                };
            })
            .catch(console.error);
        }
        document.addEventListener('submit', (e) => {
            if (e.target.id != 'search') {
                e.preventDefault();
                sendForm(e.target, e.submitter);
            }
       });
    </script>
{% endblock %}
