{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    {% for n in notifications %}
    <div class="card-body py-0 mx-auto card-width" id="n{{n.id}}">
        <div>
            <p class="m-0 fw-bold">{{ n.payload_json.split('\n')[0] }}</p>
            <p class="mt-1 mb-0 pre-wrap">{{ n.payload_json.split('\n')[1] }} <span class="d-block mt-1">{{ moment(n.timestamp).format('D/MM/YY H:mm:ss') }}</span></p>
        </div>
        <div>
            {% if n.item_id %}<small class="d-inline"><a class="text-decoration-none" href="{{ url_for('main.post', id=n.item_id) }}">{{ _('View post') }}</a></small>{% endif %}
            {% set action %}{{ url_for('main.view_notifications') }}{% endset %}             
            {{ macros.empty(action=action, value="delete", input_id=n.id) }}
        </div>
        <hr class="my-2">
    </div>
    {% endfor %}
    
    {{ macros.pagination(pagination, 'main.view_notifications') }}
    
    <script type="text/javascript">
        let notification_count = Number(document.getElementById('notification_count').innerHTML)
    
        function deleteContent(form, submitter) {
            let postForm = new FormData(form);
            postForm.append('submit', submitter.value);
            postForm.append('input_id', form.input_id.value);

            const SCRIPT_ROOT = {{ request.script_root|tojson }};
            let input_id = form.input_id.value;
            let url = `${SCRIPT_ROOT}/view-notifications`;

            fetch(url, {
                method: 'POST',           
                body: postForm,
            })
            .then((response) => response.text())
            .then((text) => {
                // Initialize the DOM parser
                const parser = new DOMParser()

                // Parse the text
                const doc = parser.parseFromString(text, "text/html")
                            
                document.getElementById(`n${input_id}`).remove();
                if (Number(doc.getElementById('notification_count').innerHTML) > 0) {
                    document.getElementById('notification_count').innerHTML = doc.getElementById('notification_count').innerHTML;
                }
                else {
                    document.getElementById('notification_count').style.display = 'none';
                };                
                if (Number(doc.getElementById('ping_count').innerHTML) > 0) {
                    document.getElementById('ping_count').innerHTML = doc.getElementById('ping_count').innerHTML;
                }
                else {
                    document.getElementById('ping_count').style.display = 'none';
                };
            })
            .catch(console.error);
        }
        document.addEventListener('submit', (event) => {
            let form = event.target;        
            try {
                if (form.querySelector('button').value == 'delete') {
                    event.preventDefault();
                    deleteContent(form, event.submitter);
                }
            }
            catch (error) {
                console.error(error);
            }
       });   
    </script> 
{% endblock %}
