{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Green Book of Wisdom</h1>
        <p>3 steps to wisdom:</p>
        <ol>
          <li>Know wisdom</li>
          <li>Understand wisdom</li>
          <li>Apply wisdom</li>
        </ol>
    </div>    
    <section>
        <h2>Personal Life</h2>
        <p>
            Know yourself consciously and subconsciously.
        </p>
        <p>
            Your character is defined by your action, not your intention. "I do, therefore I am".
        </p>
        <p>        
            No is a full statement.
        </p>
        <p>
            Character is built on instinct. To understand yourself, you must first understand your instinct.
        </p>
        <p>
            In order to be yourself, you have to know yourself.
        </p>
        <p>
            When people tell you who they are, you listen. When people show you who they are, you remember.
        </p>
        <p>
            You are what you tolerate, willful ignorance is tolerance.
        </p>
        <p>
            Willful inaction is an action.
        </p>
        <p>
            Sorry, does not undo harm. What is done cannot be undone.
        </p>
        <p>
            Time heals wounds but scars are forever. Physical scars are visible. Mental scars are invisible. The worst wounds leave invisible scars.
        </p>
        <p>
            The road to evil is paved with good intentions.
        </p>
        <p>
            Evil's success is built on apathy and cowardice.
        </p>
        <p>
            A coward lives in the could have, would have, should have reality. A coward does not live in the present reality, to avoid the question, what are you doing now?
        </p>
        <p>
            A coward's pledge. <q>If I knew, I could have done something. If I knew how bad it was, I would have done something. Now looking back, I should have done something. In the future, I promise to do something.</q>
        </p>
        <p>
            A coward's regret. <q>First, they came for the 3s but I did nothing because I was not a 3. Then, they came for the 2s but I did nothing because I was not a 2. Now, they have come for me but there is only 1 to help, me.</q>
        </p>
        <p>
            Free will is two-way. The free will to harm ourselves or help ourselves. Never obstruct a person's free will in effort to be righteous.
        </p>
        <p>
            The most meaningless question in life is why? Why, will not lead to acceptance.
        </p>
        <p>
            Acceptance brings peace. Accept the things you cannot change.
        </p>
        <p>
            Integrity builds resilience, resilience goes far.
        </p>
        <p>
            Integrity and dignity is preserved thru convictions and principles.
        </p>
        <p>
            There is no integrity or dignity in compromising and appeasing.
        </p>
        <p>
            Many have knowledge, few understand. It is not what you know, it is what you understand.
        </p>
        <p>
            People are free to have opinions about you. You are free to ignore those opinions.
        </p>
        <p>
            There are four decision states, (undecided, maybe, yes, no). Always know your state on any matter. Never confuse a decision state with another as this will lead to an indecisive mind.
        </p>
        <p>
            Indecisiveness weakens the mind.
        </p>
        <p>
            The most important standards are the ones that you set for yourself.
        </p>
        <p>
            Do not invest your time for the reward of tokens.
        </p>
        <p>
            The most harmful lies are the ones we tell ourselves.
        </p>
        <p>
            The most loyal slave is still a slave.
        </p>
        <p>
            The slaves are enslaved, the free are freed.        
        </p>        
        <p>
            Never learn a life lesson twice.
        </p>
        <p>
            Life is not a pursuit of supremacy. The reward is the experience of living. To be alive is not living, to be living is living.
        </p>
        <p>
            Two things in life cannot be changed, time and mind.
        </p>
        <p>
            Do not poison your eyes with envy.
        </p>            
        <p>            
            Do not poison your taste with bitterness.
        </p>            
        <p>            
            Do not poison your touch with greed.
        </p>            
        <p>            
            Do not poison your ears with despair.
        </p>            
        <p>            
            Do not poison your mind with resentment.
        </p>
        <p>
            The most meaningful love is self love.
        </p>            
        <p>            
            The most meaningful respect is self respect.
        </p>            
        <p>            
            The most meaningful act is an act of dignity.
        </p>
        <p>         
            Those who welcome distractions will be distracted.
        </p>            
        <p>            
            Those who welcome intrusions will be intruded.
        </p>            
        <p>            
            Those who welcome disturbances will be disturbed.
        </p>
        <p>
            Hope and Trust provide energy to the mind and spirit. Any action that diminishes that energy is irredeemable.
        </p>
        <p>
            A worthy person adds value to others and to their community.
        </p>
        <p>
            Prevention is better than cure.
        </p>
        <p>
            Convenience is a privilege, don't built a life around conveniences.
        </p>
        <p>
            The best problems in life are the ones that you can walk away from.
        </p>
        <p>
            Perception is reality, what you perceive will shape your reality. Your prejudice will affect your perception.
        </p>
        <p>
            Knowledge is a gift and a curse, too much knowledge can lead to hubris, hubris rejects wisdom, lack of wisdom leads to regret.
        </p>
        <p>
            It is better to fail with dignity than without it.
        </p>
        <p>
            When in doubt, take the path of wisdom.
        </p>
    </section>

    <section>
        <h2>Work Life</h2>
        <p>      
            The best solution to any problem is the one that prevents the problem from occurring.
        </p>
        <p>
            The second best solution is the one that minimizes the chance of the problem recurring.
        </p>
        <p>
            The first step of problem solving is to identity the problem, avoid having solutions in search of problems.
        </p>
        <p>
            Abstractions hide faults making it harder to identity problems, minimize abstractions in all solutions.
        </p>
        <p>
            Your intent has the most impact on the outcome. Your intent is your will, your will affects your action, your action affects the outcome.
        </p>
        <p>
            Convention is important, tradition is not, practice convention, not tradition.
        </p>
        <p>
            The quality of your work is subjective, your dignity is not. The output of your work should always preserve your dignity.
        </p>
        <p>
            Work ethic comes from an intrinsic drive. The intrinsic drive is sustainable. The extrinsic drive is not because it needs a reward.
        </p>
        <p>
            Lack of preparation is not an emergency.
        </p>
        <p>
            There are four problem states, (known known, known unknown, unknown known, unknown unknown). It is useful to discover the unknown known so that they become known known.
        </p>
        <p>
            A work title is a reflection of a person's scope of duties and responsibilities, it is not a reflection of a person's entitled respect and authority.
        </p>
        <p>
            Problems do not get better with time. Wishful thinking and optimism are not solutions to real problem.
        </p>
        <p>
            Time does not bring competence. Knowledge and experience does not mean competence. An old fool is still a fool.
        </p>
        <p>
            Competence can improve thru skill training, it cannot improve thru mindset. You cannot train a person to care.
        </p>
        <p>
            Integrity and discipline to processes are the most valuable attributes in a work environment. Two underachievers are better than one overachiever.
        </p>
        <p>
            Never confuse a mistake for negligence. Mistakes can be corrected, negligence cannot.
        </p>
        <p>
            Partial work has a known state. Incomplete work has an unknown state.
        </p>
        <p>
            Yesterday's problem is today's problem. Today's problem will be tomorrow's problem.
        </p>
        <p>
            Every good plan has an exit plan. Good execution is dependent on corrective actions.
        </p>
        <p>
            The main duty of a leader is to make decisions. A decision is a commitment to action.
        </p>
        <p>
            The scope of leadership is execution of solutions, not thinking about solutions.
        </p>
        <p>
            The 3 principles of executive decisions are, deterring action, corrective action, preventative action.
        </p>
        <p>
            Leaders focus on work management, not people management. Competent people do not need to be managed.
        </p>
        <p>
            Leaders should never tolerate 2 sins, insubordination and obstruction.
        </p>
        <p>
            Good leaders reduce stress. Bad leaders increase stress.
        </p>
        <p>
            Meaningful productivity is not revealed thru metrics.
        </p>
        <p>
            Long term financial success is based on cost management, not revenue strategy. You can control cost, you cannot control revenue.
        </p>
    </section>
{% endblock %}
